h1 {
    background: silver;
    color: crimson;
}
h2 {
    background: silver;
    color: cadetblue;
}
p {
    background: whitesmoke;
    color: black;
}
ul {
    background: darkgoldenrod;
    color: deeppink;
}